@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-layer: var(--layer);
  --color-layer-foreground: var(--layer-foreground);
  --color-player: var(--color-player);
  --color-player-foreground: var(--color-player-foreground);
  --color-coach: var(--color-coach);
  --color-coach-foreground: var(--color-coach-foreground);
  --color-referee: var(--color-referee);
  --color-referee-foreground: var(--color-referee-foreground);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --layer: hsl(0, 0%, 0%);
  --layer-foreground: hsl(0, 0%, 100%);
  --color-player: #d72b3c;
  --color-player-foreground: #fff;
  --color-coach: #444;
  --color-coach-foreground: #fff;
  --color-referee: #5f3174;
  --color-referee-foreground: #fff;
  --background: hsl(0, 0%, 100%);
  --foreground: hsl(0, 0%, 15%);
  --card: hsl(0, 0%, 100%);
  --card-foreground: hsl(0, 0%, 15%);
  --popover: hsl(0, 0%, 100%);
  --popover-foreground: hsl(0, 0%, 15%);
  --primary: hsl(353.9 70% 50%);
  --primary-foreground: hsl(0, 0%, 99%);
  --secondary: hsl(0, 0%, 97%);
  --secondary-foreground: hsl(0, 0%, 20%);
  --muted: hsl(0, 0%, 97%);
  --muted-foreground: hsl(0, 0%, 55%);
  --accent: hsl(0, 0%, 97%);
  --accent-foreground: hsl(0, 0%, 20%);
  --destructive: hsl(27, 61%, 44%);
  --border: hsl(0, 0%, 92%);
  --input: hsl(0, 0%, 92%);
  --ring: hsl(0, 0%, 71%);
  --chart-1: hsl(41, 75%, 49%);
  --chart-2: hsl(184, 44%, 48%);
  --chart-3: hsl(227, 33%, 24%);
  --chart-4: hsl(84, 73%, 63%);
  --chart-5: hsl(70, 74%, 63%);
  --sidebar: hsl(0, 0%, 99%);
  --sidebar-foreground: hsl(0, 0%, 15%);
  --sidebar-primary: hsl(0, 0%, 20%);
  --sidebar-primary-foreground: hsl(0, 0%, 99%);
  --sidebar-accent: hsl(0, 0%, 97%);
  --sidebar-accent-foreground: hsl(0, 0%, 20%);
  --sidebar-border: hsl(0, 0%, 92%);
  --sidebar-ring: hsl(0, 0%, 71%);
}

.dark {
  --background: hsl(0, 0%, 15%);
  --foreground: hsl(0, 0%, 99%);
  --card: hsl(0, 0%, 20%);
  --card-foreground: hsl(0, 0%, 99%);
  --popover: hsl(0, 0%, 20%);
  --popover-foreground: hsl(0, 0%, 99%);
  --primary: hsl(0, 0%, 92%);
  --primary-foreground: hsl(0, 0%, 20%);
  --secondary: hsl(0, 0%, 27%);
  --secondary-foreground: hsl(0, 0%, 99%);
  --muted: hsl(0, 0%, 27%);
  --muted-foreground: hsl(0, 0%, 71%);
  --accent: hsl(0, 0%, 27%);
  --accent-foreground: hsl(0, 0%, 99%);
  --destructive: hsl(22, 61%, 38%);
  --border: hsl(0, 0%, 100%, 0.1);
  --input: hsl(0, 0%, 100%, 0.15);
  --ring: hsl(0, 0%, 55%);
  --chart-1: hsl(264, 59%, 30%);
  --chart-2: hsl(162, 37%, 52%);
  --chart-3: hsl(70, 74%, 63%);
  --chart-4: hsl(304, 53%, 41%);
  --chart-5: hsl(16, 72%, 39%);
  --sidebar: hsl(0, 0%, 20%);
  --sidebar-foreground: hsl(0, 0%, 99%);
  --sidebar-primary: hsl(264, 59%, 30%);
  --sidebar-primary-foreground: hsl(0, 0%, 99%);
  --sidebar-accent: hsl(0, 0%, 27%);
  --sidebar-accent-foreground: hsl(0, 0%, 99%);
  --sidebar-border: hsl(0, 0%, 100%, 0.1);
  --sidebar-ring: hsl(0, 0%, 55%);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }

  button {
    @apply cursor-pointer;
  }

  .container {
    @apply px-10 mx-auto;
  }
}
